@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 1rem 6rem 2rem 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", serif;
  margin-top: 1rem;
  font-size: 4.5vw;
}

#copy {
  font-family: "Spectral", serif;
  margin-bottom: 1rem;
}

.bio {
  font-size: 3vw;
}

#triad {
  float: left;
  width: 30%;
  height: auto;
}

#qualities,
#projects,
#contact {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.5vw;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  font-family: "Spectral", serif;
  text-align: center;
  font-size: 1vw;
}
